/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Layout */
    --mobile: 375px;
    --tablet: 768px;
    --desktop: 1440px;

    /* Colors */
    /* ----Primary---- */

    --da-blue: hsl(233, 47%, 7%);
    --de-blue: hsl(244, 38%, 16%);
    --so-voilet: hsl(277, 64%, 61%);

    /* ----Secondary---- */

    --white: hsl(0, 0%, 100%);
    --sli-trans: hsla(0, 0%, 100%, 0.75);
    --slig-trans: hsla(0, 0%, 100%, 0.6);

    /* Typography */
    --fnt-primary: 'Inter';
    --fnt-secondary: 'Lexand Deca';
    --w-400: font-weight: 400;
    --w-700: font-weight: 700;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--da-blue);
}

.container {
    display: flex;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    margin: 4em 1.5em;
    border-radius: 4px;
    overflow: hidden;
}

#img {
    width: 100%;
    height: 100%;
    order: 1;
    position: relative;
}

#img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--so-voilet);
    opacity: 0.7;
}

#text {
    order: 2;
    padding: 3em 1.5em;
    text-align: center;
    font-family: var(--fnt-primary);
    background-color: var(--de-blue);
}


.img-container {
    width: 100%;
    height: 250px;
    background-image: url('../images/image-header-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.span-voilet {
    color: var(--so-voilet);
}

.flex-stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: var(--white);
    font-family: var(--fnt-primary);
    font-weight: 700;
}

.text-mid {
    font-size: 1.3em;
    color: var(--slig-trans);
    font-weight: 700;

}

.p-2 {
    padding: 2em 0;
}

.stat {
    margin-bottom: 1em;
}

p {
    color: var(--sli-trans);
    line-height: 30px;
}

@media (min-width: 768px) {
    
    main {
        display: flex;
        flex-direction: column;
    }

    .stats-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
    }

    #text {
        order: 2;
        text-align: left;
        padding: 5em;
    }

    #img {
        height: 100%;
        width: 100%;
    }

    #img .img-container {
        height: 498px;
        width: 100%;
    }

}

@media (min-width: 1024px) {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    main {
        display: flex;
        flex-direction: row;
        margin: 0;
        border-radius: 12px;
    }

    .stats-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;
    }

    #text {
        order: 1;
        text-align: left;
        padding: 5em 5em;
        width: calc(100% - 10%);
    }

    .text-container {
        width: calc(100% - 20%);
    }

    #img {
        height: 100%;
        width: 100%;
    }

    .img-container {
        height: 498px;
        width: 100%;
        background-image: url('../images/image-header-desktop.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

}